.calendarPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 24px;
  color: var(--primary-brand-color);
  text-align: center;
} 